.root {
  background-color: #2A2C2F;
  max-width: 1280px;
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  font-weight: 400;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 28px 0 24px;
  font-family: Inter, Georgia, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 1152px) {
  .root {
    max-width: 1024px;
  }
}

@media screen and (max-width: 896px) {
  .root {
    max-width: 768px;
  }
}

@media screen and (max-width: 544px) {
  .root {
    max-width: 320px;
    padding: 16px 0 24px;
  }
}