.root__lead {
  max-width: 984px;
  margin: auto;
  box-sizing: border-box;
}

@media screen and (max-width: 1152px) {
  .root__lead {
    max-width: 928px;
  }
}

@media screen and (max-width: 896px) {
  .root__lead {
    max-width: 768px;
    margin: 0;
  }
}

@media screen and (max-width: 544px) {
  .root__lead {
    max-width: 320px;
  }
}