.root__photo-grid {
  margin: 0 48px;
}

@media screen and (max-width: 896px) {
  .root__photo-grid {
    margin: 0 24px;
  }
}

@media screen and (max-width: 544px) {
  .root__photo-grid {
   margin: 0 16px;
  }
}