.place {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: minmax(min-content, max-content)  minmax(min-content, max-content);
    gap:48px 40px;
    grid-template-areas: 
    "title url"
    "image text";
    min-height: 584px;
}

@media screen and (max-width: 1152px){
  .place {
      min-height: 564px;
      gap: 48px 32px;
  }
}

@media screen and (max-width: 896px){
  .place {
    min-height: 434px;
    gap: 48px 28px;
  }
}

@media screen and (max-width: 544px){
  .place {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6 minmax(min-content, max-content));
    grid-template-areas: 
    "title"
    "url"
    "image"
    "text";
    min-height: 964px;
    gap:32px;
  }
}