.cover__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:#FFFFFF;
  text-decoration: none;
  box-sizing: border-box;
  padding: 20px;
  background-image: url('../../../images/cover-trains.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  min-height: 740px;
  max-width: 100vw;
  
}

@media screen and (max-width: 1152px){
  .cover__item {
    min-height: 640px;
  }
}

@media screen and (max-width: 896px){
  .cover__item {
    min-height: 480px;
  }
}

@media screen and (max-width: 544px){
  .cover__item {
    min-height: 200px;
    padding: 16px;
  }
}
.cover__item::before {
  content: "";
  background-color: #2a2c2f;
  opacity: .3;
  position: absolute;
  top:0;
  left:0;
  z-index: -1;
  transition: .5s;

}
.cover__item:hover::before {
  opacity: .8;
}